* {
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 10;
}

.menu {
  /* or can use  header nav */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  /* cause Bootstrap has a margin-bottom: 1rem */
  list-style-type: none;
}

.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 29px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50px;
  /* opacity: 0.6; cant use opacity with block, cause all inside thing will be gloomy/shadowed, plz use alpha-channel */
}

.subheader .subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader .subheader_official {
  display: block;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  margin-top: 6px;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo {
  min-height: 800px;
  background: url(../bg/bg-1.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0px;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0px;
  margin-top: 22px;
  text-align: center;
}

p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.benefit {
  padding: 71px 0 65px 0;
}

.benefit .benefit_h2 {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.benefit .reason_8 {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.benefit .reason_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

.benefit .reason_block .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.benefit .reason_block .reasons_descr {
  width: 343px;
}

/* .benefit .reason_block .reasons_descr */
h4 {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.mobile_app {
  max-height: 864;
  padding: 48px 0 80px 0;
  background-image: url(../bg/bg-1-pic.png);
  /* line-height: 1; */
}

/* .mobile_app */
.possibility {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/* .mobile_app */
.app_header {
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 28px;
}

/* .mobile_app */
.app_text {
  font-weight: normal;
  text-align: center;
  color: #222222;
  margin-top: -5px;
}

.mobile_app .row {
  margin-top: 32px;
}

.mobile_app .row .cont_col {
  width: 320px;
  height: 280px;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile_app .row .cont_col_1 {
  background-image: url(../img/block/pic1.png);
}

.mobile_app .row .cont_col_2 {
  background-image: url(../img/block/pic2.png);
}

.mobile_app .row .cont_col_3 {
  background-image: url(../img/block/pic3.png);
}

.mobile_app .row .cont_col_4 {
  background-image: url(../img/block/pic4.png);
}

.mobile_app .row .cont_col_5 {
  background-image: url(../img/block/pic5.png);
}

.mobile_app .row .cont_col_6 {
  background-image: url(../img/block/pic6.png);
}

.mobile_app .row .cont_col_title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 92px;
}

.mobile_app .row .cont_col_icon {
  margin-bottom: 35px;
}

.w_color {
  color: white;
}

.u_car {
  position: relative;
  min-height: 895px;
  padding: 56px 0 138px 0;
  background-color: teal;
}

.u_car .container .car_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

.choice_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

/* *************************************************** */
.sample2 .sea {
  height: 998px;
  width: 100%;
  position: relative;
  background-image: url("../bg/blak_line.png"), url("../bg/bg-1-pic.png");
  background-position: top left, bottom left;
  background-repeat: repeat-x, repeat;
}

.sample2 .fish {
  background: url("../img/uber-car.png") no-repeat;
  height: 46%;
  min-width: 60%;
  left: 28%;
  right: auto;
  top: 231px;
  position: absolute;
}

.cons_reqs .border_test {
  background-color: darkgreen;
  max-width: 200px;
  min-height: 200px;
  border-radius: 39%;
  margin-left: 150px;
}

.cons_reqs .border_test_plus {
  margin: 11px auto;
  background-color: #42326e;
  max-width: 50px;
  min-height: 50px;
}
/*# sourceMappingURL=style-scss.css.map */