* {
  font-family: 'Roboto', sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 10;
}

.menu {
  /* or can use  header nav */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  /* cause Bootstrap has a margin-bottom: 1rem */
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  border-right: 2px dotted black;
  padding-right: 29px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50px;
  /* opacity: 0.6; cant use opacity with block, cause all inside thing will be gloomy/shadowed, plz use alpha-channel */
}

.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader_official {
  display: block;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  margin-top: 6px;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.promo {
  min-height: 800px;
  background: url(../bg/bg-1.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0px;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0px;
  margin-top: 22px;
  text-align: center;
}

.promo p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
  background-color: #1eacc7;
  background-image: none;
  background-color: teal;
}

.benefit {
  padding: 71px 0 65px 0;
}

.benefit_h2 {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.benefit .reason_8 {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.benefit .reason_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

.benefit .reason_block .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.benefit .reason_block .reasons_descr {
  width: 343px;
}

/* .benefit .reason_block .reasons_descr */
h4 {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.mobile_app {
  max-height: 864;
  padding: 48px 0 80px 0;
  background-image: url(../bg/bg-1-pic.png);
  /* line-height: 1; */
}

.possibility {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.app_header {
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 28px;
}

/* .mobile_app */
.app_text {
  font-weight: normal;
  text-align: center;
  color: #222222;
  margin-top: -5px;
}

.mobile_app .row {
  margin-top: 32px;
}

.mobile_app .row .cont_col {
  width: 320px;
  height: 280px;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile_app .row .cont_col_1 {
  background-image: url(../img/block/pic1.png);
}

.mobile_app .row .cont_col_2 {
  background-image: url(../img/block/pic2.png);
}

.mobile_app .row .cont_col_3 {
  background-image: url(../img/block/pic3.png);
}

.mobile_app .row .cont_col_4 {
  background-image: url(../img/block/pic4.png);
}

.mobile_app .row .cont_col_5 {
  background-image: url(../img/block/pic5.png);
}

.mobile_app .row .cont_col_6 {
  background-image: url(../img/block/pic6.png);
}

.mobile_app .row .cont_col_title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 92px;
}

.mobile_app .row .cont_col_icon {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 47%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.mobile_app .row .cont_col_icon:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

.mobile_app .row .cont_col_icon::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
}

.mobile_app .row .cont_col_icon:hover:before, .mobile_app .row .cont_col_icon:hover:after {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #ff5656;
}

.choice_descr {
  text-align: center;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 24px;
}

.u_car {
  position: relative;
  min-height: 895px;
  padding: 56px 0 138px 0;
  background-color: teal;
}

.u_car .container .car_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

/* *************************************************** */
.sample2 .sea {
  height: 998px;
  width: 100%;
  position: relative;
  background-image: url("../bg/blak_line.png"), url("../bg/bg-1-pic.png");
  background-position: top left, bottom left;
  background-repeat: repeat-x, repeat;
}

.sample2 .sea .choice_descr_bot {
  color: #0d2930;
  font-size: 26px;
  position: absolute;
  margin: 700px;
}

.sample2 .fish {
  background: url("../img/uber-car.png") no-repeat;
  height: 46%;
  min-width: 60%;
  left: 28%;
  right: auto;
  top: 231px;
  position: absolute;
}

.cons_reqs {
  padding: 68px 0 84px 0;
}

.cons_reqs_block {
  margin: 33px 0;
}

.cons_reqs_block_no_m_bot {
  margin-bottom: 0px;
}

.cons_reqs_title {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}

.cons_reqs_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.cons_reqs li {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 10px;
}

.cons_reqs li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url(../icon/checkbb.png) center center/cover no-repeat;
}

.cons_reqs_description {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  color: #1ca8c3;
}

.cons_reqs .warning .cons_reqs_title {
  color: #ff5656;
}

.cons_reqs .warning .cons_reqs_list li:before {
  content: '';
  background: url(../icon/checkbr.png) center center/cover no-repeat;
}

.cities {
  min-height: 717px;
  background-color: #080816;
  background: url(../bg/bg-2.png) center center/cover no-repeat;
  padding: 49px 0;
}

.cities_descr {
  text-align: center;
  margin-top: 486px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
}

.cities_descr a:hover {
  text-decoration: none;
  color: #fff;
}

.w_box {
  width: 68px;
  height: 24px;
  background-color: #ffffff;
  color: #000;
}

.w_color {
  color: #ffffff;
}

footer {
  min-height: 156px;
  padding: 14px 0;
}

footer a:hover {
  text-decoration: none;
}

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 22px;
}

.footer_wrapper_mobile {
  padding-right: 20px;
}

.footer_wrapper_mobile a {
  margin: 0 3px;
}

.footer_wrapper_links {
  width: 290px;
}

.footer_wrapper_links_main {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.footer_wrapper_links_main a {
  margin: 0 10px;
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_wrapper_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.footer_wrapper_links_sub a {
  margin: 0 7px;
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_wrapper_links_lang {
  margin-top: 10px;
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

.footer_wrapper_social {
  padding-left: 20px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_wrapper_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 99%;
}

.footer_wrapper_social_item i {
  color: white;
}

.footer_wrapper_social_item i:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: lightseagreen;
}

.footer_wrapper > div {
  margin-bottom: 20px;
  width: 33%;
}

.footer_wrapper > div:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer_wrapper > div:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer_wrapper > div:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style-scss.css.map */